.App {
  text-align: center;
}

.container {
  border:  #EEEEEE;
  max-width: 350px;
  padding: 30px 60px;
  border-radius: 15px;
  background-color: #EEEEEE;
  padding: 5%;
  margin: 5%;
}
h1{
  color: #172774;
}

.links {
  color: #77D970;
}

