.forecast{
    color: #172774;
    text-align: center;    
   }
.first, .second, .third, .fourth, .fifth {
    
    align-items: center;
    max-width: 20%;
    text-align: center;
   
}
.forecast-temp {
    font-size: xx-small;
}
.max-temp, .day-name {
    font-weight: bold;
}

